=begin
#KeyVaultClient

#The key vault client performs cryptographic key operations and vault operations against the Key Vault service.

OpenAPI spec version: 7.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.15

=end

require 'uri'

module SwaggerClient
  class KeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Requests that a backup of the specified key be downloaded to the client.
    # The Key Backup operation exports a key from Azure Key Vault in a protected form. Note that this operation does NOT return key material in a form that can be used outside the Azure Key Vault system, the returned key material is either protected to a Azure Key Vault HSM or to Azure Key Vault itself. The intent of this operation is to allow a client to GENERATE a key in one Azure Key Vault instance, BACKUP the key, and then RESTORE it into another Azure Key Vault instance. The BACKUP operation may be used to export, in protected form, any key type from Azure Key Vault. Individual versions of a key cannot be backed up. BACKUP / RESTORE can be performed within geographical boundaries only; meaning that a BACKUP from one geographical area cannot be restored to another geographical area. For example, a backup from the US geographical area cannot be restored in an EU geographical area. This operation requires the key/backup permission.
    # @param key_name The name of the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [BackupKeyResult]
    def backup_key(key_name, api_version, opts = {})
      data, _status_code, _headers = backup_key_with_http_info(key_name, api_version, opts)
      data
    end

    # Requests that a backup of the specified key be downloaded to the client.
    # The Key Backup operation exports a key from Azure Key Vault in a protected form. Note that this operation does NOT return key material in a form that can be used outside the Azure Key Vault system, the returned key material is either protected to a Azure Key Vault HSM or to Azure Key Vault itself. The intent of this operation is to allow a client to GENERATE a key in one Azure Key Vault instance, BACKUP the key, and then RESTORE it into another Azure Key Vault instance. The BACKUP operation may be used to export, in protected form, any key type from Azure Key Vault. Individual versions of a key cannot be backed up. BACKUP / RESTORE can be performed within geographical boundaries only; meaning that a BACKUP from one geographical area cannot be restored to another geographical area. For example, a backup from the US geographical area cannot be restored in an EU geographical area. This operation requires the key/backup permission.
    # @param key_name The name of the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupKeyResult, Fixnum, Hash)>] BackupKeyResult data, response status code and response headers
    def backup_key_with_http_info(key_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.backup_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.backup_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.backup_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/backup'.sub('{' + 'key-name' + '}', key_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'BackupKeyResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#backup_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new key, stores it, then returns key parameters and attributes to the client.
    # The create key operation can be used to create any key type in Azure Key Vault. If the named key already exists, Azure Key Vault creates a new version of the key. It requires the keys/create permission.
    # @param key_name The name for the new key. The system will generate the version name for the new key.
    # @param parameters The parameters to create a key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyBundle]
    def create_key(key_name, parameters, api_version, opts = {})
      data, _status_code, _headers = create_key_with_http_info(key_name, parameters, api_version, opts)
      data
    end

    # Creates a new key, stores it, then returns key parameters and attributes to the client.
    # The create key operation can be used to create any key type in Azure Key Vault. If the named key already exists, Azure Key Vault creates a new version of the key. It requires the keys/create permission.
    # @param key_name The name for the new key. The system will generate the version name for the new key.
    # @param parameters The parameters to create a key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBundle, Fixnum, Hash)>] KeyBundle data, response status code and response headers
    def create_key_with_http_info(key_name, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.create_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.create_key"
      end
      if @api_client.config.client_side_validation && key_name !~ Regexp.new(/^[0-9a-zA-Z-]+$/)
        fail ArgumentError, "invalid value for 'key_name' when calling KeysApi.create_key, must conform to the pattern /^[0-9a-zA-Z-]+$/."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.create_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.create_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/create'.sub('{' + 'key-name' + '}', key_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#create_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Decrypts a single block of encrypted data.
    # The DECRYPT operation decrypts a well-formed block of ciphertext using the target encryption key and specified algorithm. This operation is the reverse of the ENCRYPT operation; only a single block of data may be decrypted, the size of this block is dependent on the target key and the algorithm to be used. The DECRYPT operation applies to asymmetric and symmetric keys stored in Azure Key Vault since it uses the private portion of the key. This operation requires the keys/decrypt permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the decryption operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyOperationResult]
    def decrypt(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = decrypt_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Decrypts a single block of encrypted data.
    # The DECRYPT operation decrypts a well-formed block of ciphertext using the target encryption key and specified algorithm. This operation is the reverse of the ENCRYPT operation; only a single block of data may be decrypted, the size of this block is dependent on the target key and the algorithm to be used. The DECRYPT operation applies to asymmetric and symmetric keys stored in Azure Key Vault since it uses the private portion of the key. This operation requires the keys/decrypt permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the decryption operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyOperationResult, Fixnum, Hash)>] KeyOperationResult data, response status code and response headers
    def decrypt_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.decrypt ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.decrypt"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.decrypt"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.decrypt"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.decrypt"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/decrypt'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyOperationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#decrypt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a key of any type from storage in Azure Key Vault.
    # The delete key operation cannot be used to remove individual versions of a key. This operation removes the cryptographic material associated with the key, which means the key is not usable for Sign/Verify, Wrap/Unwrap or Encrypt/Decrypt operations. This operation requires the keys/delete permission.
    # @param key_name The name of the key to delete.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [DeletedKeyBundle]
    def delete_key(key_name, api_version, opts = {})
      data, _status_code, _headers = delete_key_with_http_info(key_name, api_version, opts)
      data
    end

    # Deletes a key of any type from storage in Azure Key Vault.
    # The delete key operation cannot be used to remove individual versions of a key. This operation removes the cryptographic material associated with the key, which means the key is not usable for Sign/Verify, Wrap/Unwrap or Encrypt/Decrypt operations. This operation requires the keys/delete permission.
    # @param key_name The name of the key to delete.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletedKeyBundle, Fixnum, Hash)>] DeletedKeyBundle data, response status code and response headers
    def delete_key_with_http_info(key_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.delete_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.delete_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.delete_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}'.sub('{' + 'key-name' + '}', key_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeletedKeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#delete_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Encrypts an arbitrary sequence of bytes using an encryption key that is stored in a key vault.
    # The ENCRYPT operation encrypts an arbitrary sequence of bytes using an encryption key that is stored in Azure Key Vault. Note that the ENCRYPT operation only supports a single block of data, the size of which is dependent on the target key and the encryption algorithm to be used. The ENCRYPT operation is only strictly necessary for symmetric keys stored in Azure Key Vault since protection with an asymmetric key can be performed using public portion of the key. This operation is supported for asymmetric keys as a convenience for callers that have a key-reference but do not have access to the public key material. This operation requires the keys/encrypt permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the encryption operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyOperationResult]
    def encrypt(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = encrypt_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Encrypts an arbitrary sequence of bytes using an encryption key that is stored in a key vault.
    # The ENCRYPT operation encrypts an arbitrary sequence of bytes using an encryption key that is stored in Azure Key Vault. Note that the ENCRYPT operation only supports a single block of data, the size of which is dependent on the target key and the encryption algorithm to be used. The ENCRYPT operation is only strictly necessary for symmetric keys stored in Azure Key Vault since protection with an asymmetric key can be performed using public portion of the key. This operation is supported for asymmetric keys as a convenience for callers that have a key-reference but do not have access to the public key material. This operation requires the keys/encrypt permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the encryption operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyOperationResult, Fixnum, Hash)>] KeyOperationResult data, response status code and response headers
    def encrypt_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.encrypt ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.encrypt"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.encrypt"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.encrypt"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.encrypt"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/encrypt'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyOperationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#encrypt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets the public part of a stored key.
    # The get key operation is applicable to all key types. If the requested key is symmetric, then no key material is released in the response. This operation requires the keys/get permission.
    # @param key_name The name of the key to get.
    # @param key_version Adding the version parameter retrieves a specific version of a key. This URI fragment is optional. If not specified, the latest version of the key is returned.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyBundle]
    def get_key(key_name, key_version, api_version, opts = {})
      data, _status_code, _headers = get_key_with_http_info(key_name, key_version, api_version, opts)
      data
    end

    # Gets the public part of a stored key.
    # The get key operation is applicable to all key types. If the requested key is symmetric, then no key material is released in the response. This operation requires the keys/get permission.
    # @param key_name The name of the key to get.
    # @param key_version Adding the version parameter retrieves a specific version of a key. This URI fragment is optional. If not specified, the latest version of the key is returned.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBundle, Fixnum, Hash)>] KeyBundle data, response status code and response headers
    def get_key_with_http_info(key_name, key_version, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.get_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.get_key"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.get_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.get_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#get_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves a list of individual key versions with the same key name.
    # The full key identifier, attributes, and tags are provided in the response. This operation requires the keys/list permission.
    # @param key_name The name of the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxresults Maximum number of results to return in a page. If not specified the service will return up to 25 results.
    # @return [KeyListResult]
    def get_key_versions(key_name, api_version, opts = {})
      data, _status_code, _headers = get_key_versions_with_http_info(key_name, api_version, opts)
      data
    end

    # Retrieves a list of individual key versions with the same key name.
    # The full key identifier, attributes, and tags are provided in the response. This operation requires the keys/list permission.
    # @param key_name The name of the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxresults Maximum number of results to return in a page. If not specified the service will return up to 25 results.
    # @return [Array<(KeyListResult, Fixnum, Hash)>] KeyListResult data, response status code and response headers
    def get_key_versions_with_http_info(key_name, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.get_key_versions ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.get_key_versions"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.get_key_versions"
      end
      if @api_client.config.client_side_validation && !opts[:'maxresults'].nil? && opts[:'maxresults'] > 25
        fail ArgumentError, 'invalid value for "opts[:"maxresults"]" when calling KeysApi.get_key_versions, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'maxresults'].nil? && opts[:'maxresults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"maxresults"]" when calling KeysApi.get_key_versions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/keys/{key-name}/versions'.sub('{' + 'key-name' + '}', key_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version
      query_params[:'maxresults'] = opts[:'maxresults'] if !opts[:'maxresults'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#get_key_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List keys in the specified vault.
    # Retrieves a list of the keys in the Key Vault as JSON Web Key structures that contain the public part of a stored key. The LIST operation is applicable to all key types, however only the base key identifier, attributes, and tags are provided in the response. Individual versions of a key are not listed in the response. This operation requires the keys/list permission.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxresults Maximum number of results to return in a page. If not specified the service will return up to 25 results.
    # @return [KeyListResult]
    def get_keys(api_version, opts = {})
      data, _status_code, _headers = get_keys_with_http_info(api_version, opts)
      data
    end

    # List keys in the specified vault.
    # Retrieves a list of the keys in the Key Vault as JSON Web Key structures that contain the public part of a stored key. The LIST operation is applicable to all key types, however only the base key identifier, attributes, and tags are provided in the response. Individual versions of a key are not listed in the response. This operation requires the keys/list permission.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :maxresults Maximum number of results to return in a page. If not specified the service will return up to 25 results.
    # @return [Array<(KeyListResult, Fixnum, Hash)>] KeyListResult data, response status code and response headers
    def get_keys_with_http_info(api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.get_keys ...'
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.get_keys"
      end
      if @api_client.config.client_side_validation && !opts[:'maxresults'].nil? && opts[:'maxresults'] > 25
        fail ArgumentError, 'invalid value for "opts[:"maxresults"]" when calling KeysApi.get_keys, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'maxresults'].nil? && opts[:'maxresults'] < 1
        fail ArgumentError, 'invalid value for "opts[:"maxresults"]" when calling KeysApi.get_keys, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/keys'

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version
      query_params[:'maxresults'] = opts[:'maxresults'] if !opts[:'maxresults'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyListResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#get_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Imports an externally created key, stores it, and returns key parameters and attributes to the client.
    # The import key operation may be used to import any key type into an Azure Key Vault. If the named key already exists, Azure Key Vault creates a new version of the key. This operation requires the keys/import permission.
    # @param key_name Name for the imported key.
    # @param parameters The parameters to import a key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyBundle]
    def import_key(key_name, parameters, api_version, opts = {})
      data, _status_code, _headers = import_key_with_http_info(key_name, parameters, api_version, opts)
      data
    end

    # Imports an externally created key, stores it, and returns key parameters and attributes to the client.
    # The import key operation may be used to import any key type into an Azure Key Vault. If the named key already exists, Azure Key Vault creates a new version of the key. This operation requires the keys/import permission.
    # @param key_name Name for the imported key.
    # @param parameters The parameters to import a key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBundle, Fixnum, Hash)>] KeyBundle data, response status code and response headers
    def import_key_with_http_info(key_name, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.import_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.import_key"
      end
      if @api_client.config.client_side_validation && key_name !~ Regexp.new(/^[0-9a-zA-Z-]+$/)
        fail ArgumentError, "invalid value for 'key_name' when calling KeysApi.import_key, must conform to the pattern /^[0-9a-zA-Z-]+$/."
      end

      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.import_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.import_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}'.sub('{' + 'key-name' + '}', key_name.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#import_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restores a backed up key to a vault.
    # Imports a previously backed up key into Azure Key Vault, restoring the key, its key identifier, attributes and access control policies. The RESTORE operation may be used to import a previously backed up key. Individual versions of a key cannot be restored. The key is restored in its entirety with the same key name as it had when it was backed up. If the key name is not available in the target Key Vault, the RESTORE operation will be rejected. While the key name is retained during restore, the final key identifier will change if the key is restored to a different vault. Restore will restore all versions and preserve version identifiers. The RESTORE operation is subject to security constraints: The target Key Vault must be owned by the same Microsoft Azure Subscription as the source Key Vault The user must have RESTORE permission in the target Key Vault. This operation requires the keys/restore permission.
    # @param parameters The parameters to restore the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyBundle]
    def restore_key(parameters, api_version, opts = {})
      data, _status_code, _headers = restore_key_with_http_info(parameters, api_version, opts)
      data
    end

    # Restores a backed up key to a vault.
    # Imports a previously backed up key into Azure Key Vault, restoring the key, its key identifier, attributes and access control policies. The RESTORE operation may be used to import a previously backed up key. Individual versions of a key cannot be restored. The key is restored in its entirety with the same key name as it had when it was backed up. If the key name is not available in the target Key Vault, the RESTORE operation will be rejected. While the key name is retained during restore, the final key identifier will change if the key is restored to a different vault. Restore will restore all versions and preserve version identifiers. The RESTORE operation is subject to security constraints: The target Key Vault must be owned by the same Microsoft Azure Subscription as the source Key Vault The user must have RESTORE permission in the target Key Vault. This operation requires the keys/restore permission.
    # @param parameters The parameters to restore the key.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBundle, Fixnum, Hash)>] KeyBundle data, response status code and response headers
    def restore_key_with_http_info(parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.restore_key ...'
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.restore_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.restore_key"
      end
      # resource path
      local_var_path = '/keys/restore'

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#restore_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a signature from a digest using the specified key.
    # The SIGN operation is applicable to asymmetric and symmetric keys stored in Azure Key Vault since this operation uses the private portion of the key. This operation requires the keys/sign permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the signing operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyOperationResult]
    def sign(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = sign_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Creates a signature from a digest using the specified key.
    # The SIGN operation is applicable to asymmetric and symmetric keys stored in Azure Key Vault since this operation uses the private portion of the key. This operation requires the keys/sign permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the signing operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyOperationResult, Fixnum, Hash)>] KeyOperationResult data, response status code and response headers
    def sign_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.sign ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.sign"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.sign"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.sign"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.sign"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/sign'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyOperationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#sign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Unwraps a symmetric key using the specified key that was initially used for wrapping that key.
    # The UNWRAP operation supports decryption of a symmetric key using the target key encryption key. This operation is the reverse of the WRAP operation. The UNWRAP operation applies to asymmetric and symmetric keys stored in Azure Key Vault since it uses the private portion of the key. This operation requires the keys/unwrapKey permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the key operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyOperationResult]
    def unwrap_key(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = unwrap_key_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Unwraps a symmetric key using the specified key that was initially used for wrapping that key.
    # The UNWRAP operation supports decryption of a symmetric key using the target key encryption key. This operation is the reverse of the WRAP operation. The UNWRAP operation applies to asymmetric and symmetric keys stored in Azure Key Vault since it uses the private portion of the key. This operation requires the keys/unwrapKey permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for the key operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyOperationResult, Fixnum, Hash)>] KeyOperationResult data, response status code and response headers
    def unwrap_key_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.unwrap_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.unwrap_key"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.unwrap_key"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.unwrap_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.unwrap_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/unwrapkey'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyOperationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#unwrap_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # The update key operation changes specified attributes of a stored key and can be applied to any key type and key version stored in Azure Key Vault.
    # In order to perform this operation, the key must already exist in the Key Vault. Note: The cryptographic material of a key itself cannot be changed. This operation requires the keys/update permission.
    # @param key_name The name of key to update.
    # @param key_version The version of the key to update.
    # @param parameters The parameters of the key to update.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyBundle]
    def update_key(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = update_key_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # The update key operation changes specified attributes of a stored key and can be applied to any key type and key version stored in Azure Key Vault.
    # In order to perform this operation, the key must already exist in the Key Vault. Note: The cryptographic material of a key itself cannot be changed. This operation requires the keys/update permission.
    # @param key_name The name of key to update.
    # @param key_version The version of the key to update.
    # @param parameters The parameters of the key to update.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyBundle, Fixnum, Hash)>] KeyBundle data, response status code and response headers
    def update_key_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.update_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.update_key"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.update_key"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.update_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.update_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyBundle')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#update_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Verifies a signature using a specified key.
    # The VERIFY operation is applicable to symmetric keys stored in Azure Key Vault. VERIFY is not strictly necessary for asymmetric keys stored in Azure Key Vault since signature verification can be performed using the public portion of the key but this operation is supported as a convenience for callers that only have a key-reference and not the public portion of the key. This operation requires the keys/verify permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for verify operations.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyVerifyResult]
    def verify(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = verify_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Verifies a signature using a specified key.
    # The VERIFY operation is applicable to symmetric keys stored in Azure Key Vault. VERIFY is not strictly necessary for asymmetric keys stored in Azure Key Vault since signature verification can be performed using the public portion of the key but this operation is supported as a convenience for callers that only have a key-reference and not the public portion of the key. This operation requires the keys/verify permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for verify operations.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyVerifyResult, Fixnum, Hash)>] KeyVerifyResult data, response status code and response headers
    def verify_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.verify ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.verify"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.verify"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.verify"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.verify"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/verify'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyVerifyResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Wraps a symmetric key using a specified key.
    # The WRAP operation supports encryption of a symmetric key using a key encryption key that has previously been stored in an Azure Key Vault. The WRAP operation is only strictly necessary for symmetric keys stored in Azure Key Vault since protection with an asymmetric key can be performed using the public portion of the key. This operation is supported for asymmetric keys as a convenience for callers that have a key-reference but do not have access to the public key material. This operation requires the keys/wrapKey permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for wrap operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [KeyOperationResult]
    def wrap_key(key_name, key_version, parameters, api_version, opts = {})
      data, _status_code, _headers = wrap_key_with_http_info(key_name, key_version, parameters, api_version, opts)
      data
    end

    # Wraps a symmetric key using a specified key.
    # The WRAP operation supports encryption of a symmetric key using a key encryption key that has previously been stored in an Azure Key Vault. The WRAP operation is only strictly necessary for symmetric keys stored in Azure Key Vault since protection with an asymmetric key can be performed using the public portion of the key. This operation is supported for asymmetric keys as a convenience for callers that have a key-reference but do not have access to the public key material. This operation requires the keys/wrapKey permission.
    # @param key_name The name of the key.
    # @param key_version The version of the key.
    # @param parameters The parameters for wrap operation.
    # @param api_version Client API version.
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyOperationResult, Fixnum, Hash)>] KeyOperationResult data, response status code and response headers
    def wrap_key_with_http_info(key_name, key_version, parameters, api_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.wrap_key ...'
      end
      # verify the required parameter 'key_name' is set
      if @api_client.config.client_side_validation && key_name.nil?
        fail ArgumentError, "Missing the required parameter 'key_name' when calling KeysApi.wrap_key"
      end
      # verify the required parameter 'key_version' is set
      if @api_client.config.client_side_validation && key_version.nil?
        fail ArgumentError, "Missing the required parameter 'key_version' when calling KeysApi.wrap_key"
      end
      # verify the required parameter 'parameters' is set
      if @api_client.config.client_side_validation && parameters.nil?
        fail ArgumentError, "Missing the required parameter 'parameters' when calling KeysApi.wrap_key"
      end
      # verify the required parameter 'api_version' is set
      if @api_client.config.client_side_validation && api_version.nil?
        fail ArgumentError, "Missing the required parameter 'api_version' when calling KeysApi.wrap_key"
      end
      # resource path
      local_var_path = '/keys/{key-name}/{key-version}/wrapkey'.sub('{' + 'key-name' + '}', key_name.to_s).sub('{' + 'key-version' + '}', key_version.to_s)

      # query parameters
      query_params = {}
      query_params[:'api-version'] = api_version

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(parameters)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'KeyOperationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#wrap_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
